.gifts-container {
    padding: 20px;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
  }
  .gift-card {
  position: relative;
  display: inline-block;

  .gift-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .winner-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    pointer-events: none;
  }
}
  /* הכפתור */
  .category-button {
    width: 150px;          /* גודל קבוע */
    height: 44px;          /* גובה קבוע */
    border-radius: 999px;  /* עיגול מלא */
    
    background-color: #f6eee9; /* צבע בהיר */
    border: none;
  
    font-size: 14px;
    font-weight: 500;
    color: #4a2b1f;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    transition: all 0.25s ease;
    white-space: nowrap; /* שלא ירד שורה */
  }
  
  /* hover */
  .category-button:hover {
    color: #7a1f2b; /* בורדו */
    // color: white;
    font-weight: 600;
  }
  /* כפתור פעיל (אם תרצי) */
  .category-button.active {
    background-color: #7a1f2b;
    color: white;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .empty {
    text-align: center;
    color: gray;
  }
  
  .gifts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
  }
  
  .gift-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
  }
  
  .gift-card:hover {
    transform: translateY(-5px);
  }
  
  // .gift-image img {
  //   width: 100%;
  //   height: 120px;
  //   object-fit: cover;
  // }
  
  .gift-content {
    padding: 15px;
  }
  
  .gift-name {
    margin: 0 0 10px;
  }
  
  .gift-description {
    font-size: 14px;
    color: #555;
  }
  
  .gift-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .gift-footer {
    text-align: right;
  }
  
  .type {
    padding: 4px 10px;
    border-radius: 20px;
    background: #e0e0e0;
    font-size: 12px;
  }
  