html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ביטול גלילה לרוחב */
  }


  /* עוטף כללי */
  .layout {
    display: flex;
    width: 100%;
  }
  
  /* סל קניות */
  .basket {
    position: fixed;
    top: 80px;              /* גובה ההדר */
    left: 0;
    width: 320px;           /* רוחב קבוע – לא vw */
    height: calc(100vh - 80px);
    background: #f7f7f7;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1000;
  }
  
  /* תוכן האתר */
  .main-content {
    margin-top: 90px;
    margin-left: 320px;     /* בדיוק רוחב הסל */
    flex: 1;                /* מצטמצם אוטומטית */
    min-width: 0;           /* קריטי למניעת overflow */
    // padding: 20px;
  }
  @media (max-width: 768px) {

    .layout {
      flex-direction: column;
    }
  
    .basket {
      position: relative;      /* לא fixed */
      width: 100%;
      height: auto;
      top: 0;
      border-right: none;
      border-bottom: 1px solid #ddd;
    }
  
    .main-content {
      margin-left: 0;          /* חשוב */
      margin-top: 0;
      width: 100%;
    //   padding: 15px;
    }
  }
  