html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ביטול גלילה לרוחב */
  }


  /* עוטף כללי */
  .layout {
    display: flex;
    width: 100%;
  }
  

  /* תוכן האתר */
  .main-content {
    margin-top: 90px;
    margin-left: 320px;     /* בדיוק רוחב הסל */
    flex: 1;                /* מצטמצם אוטומטית */
    min-width: 0;           /* קריטי למניעת overflow */
    // padding: 20px;
  
  }
/* הוסף את זה */
app-basket-component {
    display: block;
    height: 100%;
    background: #f7f7f7; /* אותו צבע כמו הסל */
}

.basket {
    position: fixed;
    top: 80px;
    left: 0;
    width: 320px;
    height: calc(100vh - 80px); 
    background: #f7f7f7;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1000;
    
    /* הוסף את השורה הזו כדי לוודא שכל מה שבפנים נמתח */
    display: flex;
    flex-direction: column;
}
  @media (max-width: 768px) {

    .layout {
      flex-direction: column;
    }
  
    .basket {
      position: relative;      /* לא fixed */
      width: 100%;
      height: auto;
      top: 0;
      border-right: none;
      border-bottom: 1px solid #ddd;
    }
  
    .main-content {
      margin-left: 0;          /* חשוב */
      margin-top: 0;
      width: 100%;
    //   padding: 15px;
    }
  }
  