/* drawer-component.scss */
.drawer-card {
  width: 100%;
}

.drawer-form {
  display: flex;
  background-color: #f6eee9;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.drawer-field {
  width: 100%;
}

/* Remove blue/green outline on focus */
input.p-inputtext:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #f0c0c0; /* צבע גבול רך */
  background-color: #f5f5ff; /* צבע רקע עדין */
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Label color */
p-floatlabel label {
  color: #333;
  font-weight: 500;
}

/* Validation styles */
input.ng-invalid.ng-touched {
  border-color: #e53935 !important;
  background-color: #ffebee;
}
